.section { text-align: center; font: 35px "Microsoft Yahei"; color: #54FF9F;}
.section a{text-decoration:none;color:#4EEE94;}
.section a:hover{color:#5CACEE;}
.section2 p { position: relative; left: -120%;}
.section3 p { position: relative; bottom: -120%;}
.section4 p { display: none;}
