.section1 { background: url(../images/home_bg/1.jpg) 50%;}
.section2 { background: url(../images/home_bg/2.jpg) 50%;}
.section3 { background: url(../images/home_bg/3.jpg) 50%;}
.section4 { background: url(../images/home_bg/4.jpg) 50%;}