.navbar-nav > li > .dropdown-menu{
	margin-top:0;
}
.navbar-inverse .navbar-form .input-group-btn .btn{
	background-color:#415b76;
    color:#fff;
}
.xuyong_fix:hover{
	background-color:#48C9B0 !important;
}
#shop_container{
	background:#E0FFFF;
    min-width:55rem;
}
#link_help{
	display:inline-block;
    margin-left:0.5rem;
}
#shop_header{
    float:right;
    display:inline-block;
    margin-right:0.5rem;
}
.clearfix{
	clear:both;
}


.todo-search::before{
	display:none;
}
.todo li::after{
	display:none;
}
.fui-list::before{
	display:none;
}