.navbar-nav > li > .dropdown-menu{
	margin-top:0;
}
.navbar{
	min-width:970px;
    margin-bottom:0;
}
.navbar-inverse .navbar-form .input-group-btn .btn{
	background-color:#415b76;
    color:#fff;
}
.xuyong_fix:hover{
	background-color:#48C9B0 !important;
}
#shop_container{
	background-color:#edeff1;
    min-width:55rem;
}
#link_help{
	display:inline-block;
    margin-left:0.5rem;
}
#shop_header{
    float:right;
    display:inline-block;
    margin-right:0.5rem;
}
.clearfix{
	clear:both;
}



.xuyong_fixrow{
	min-height:650px;
}



.todo-search::before{
	display:none;
}
.todo li::after{
	display:none;
}
.todo{
	margin-bottom:0;
}
.fui-list::before{
	display:none;
}


.row{
	min-width:970px;
    margin:45px -15px 45px -15px;
}

.footer{
	min-width:970px;
}

.content_container{
	width:100%;
}
.ptl, .pvl, .pal{
	padding-top:0;
    padding-bottom:0;
}

/*内容区样式*/
.pallete-item{
	width:160px;
}
.fix_style{
	padding:0 20px;
}



