.navbar-nav > li > .dropdown-menu{
	margin-top:0;
}
.navbar{
	min-width:970px;
    margin-bottom:0;
}
.navbar-inverse .navbar-form .input-group-btn .btn{
	background-color:#415b76;
    color:#fff;
}
.xuyong_fix:hover{
	background-color:#48C9B0 !important;
}
#shop_container{
	background-color:#edeff1;
    min-width:60rem;
}
#link_help{
	float:left;
	display:inline-block;
    margin-left:0.5rem;
}
#shop_header{
    float:right;
    display:inline-block;
    margin-right:0.5rem;
}
.clearfix{
	clear:both;
}



.xuyong_fixrow{
	min-height:650px;
}



.todo-search::before{
	display:none;
}
.todo li::after{
	display:none;
}
.todo{
	margin-bottom:0;
}
.fui-list::before{
	display:none;
}


.row{
	min-width:970px;
    margin:45px -15px 45px -15px;
}

.footer{
	min-width:970px;
}

.content_container{
	width:100%;
}
.ptl, .pvl, .pal{
	padding-top:0;
    padding-bottom:0;
}

/*内容区样式*/
.pallete-item{
	width:160px;
}
.xuyong_fixitem{
	/*width:300px;*/
    width:180px;
}
.xuyong_fixitem img{
	width:100%;
    height:150px;
}
.fix_style{
	padding:0 20px;
}
.fix_style a,.pallete-item a{
	color:#fff;
}
.todo li{
	cursor:default;
}

/*字体大小写设置*/
.palette{
	text-transform:lowercase;
}

.detail-style {
	width:100%;height:500px;border-radius:10px;
}
.detail-name-xy {
	font-size:30px;
    font-weight:bold;
}
.detail-price-xy {
	font-size:24px;font-weight:bold;color:#F08080;margin:15px 0;
}
.detail-detail-xy {
	height:310px;overflow:hidden;text-overflow:ellipsis;
}
.detail-cart,.detail-buy {
	border:1px solid #F08080;color:#F08080;display:block;text-align:center;margin-top:20px;border-radius:5px;cursor:pointer;
}
.detail-cart:hover,.detail-buy:hover {
  border:1px solid #1abc9c;
}

.to-goods-cart {
	float:right;background:#EE7600;color:#fff;display:block;height:80px;width:80px;border-radius:20rem;line-height:80px;text-align:center;font-size:24px;margin-top:10px;margin-right:15px;
}

