.col-xs-xuyong{
	padding:0;
}
.col-xs-xuyong .col-xs-2{
	padding:0;
}
.col-xs-xuyong .col-xs-2 ul{
	border-radius:0;
}
.col-xs-xuyong .todo{
	border-radius:0;
}
.col-xs-xuyong .todo-search{
	border-radius:0;
}

.nav_xuyong{
	float:right;
}