*{margin:0;padding:0;rgba(0,0,0,0);outline:0;}	
a{text-decoration:none;color:black;}
li{list-style:none;}

input[type="reset"],input[type="submit"],input[name="blog_title"]{border:none;background:#BDBDBD;height:1.5rem;padding:0 0.3rem;}
input[name="blog_title"]{color:red;}
input[type="reset"]:hover,input[type="submit"]:hover{background:#383838;color:white;}

header{width:100%;margin-bottom:5px;}
#header{width:61.80%;min-height:100px;margin:0 auto;min-width:20.88rem;}
#logo{float:left;width:150px;height:61.80px;margin-top:19.10px;}
#logo img{display:block;width:150px;height:61.80px;}
#logo a{display:block;height:0px;}
#login{float:right;line-height:100px;}
.clearfix{clear:both;height:0px;}

nav{height:50px;margin-bottom:5px;font-size:36px;}
nav ul{height:50px;background:#6E6E6E;min-width:30.5rem;}
nav ul li{display:inline-block;line-height:50px;}
nav ul li a{display:block;padding:0 1rem;}
nav ul li a:hover{background:#383838;color:white;}

aside{width:200px;float:right;}
#upload{line-height:2rem;padding:0.5rem;}
#upload{border-bottom:1px solid #B5B5B5;}

#content article{overflow-x:hidden;}
#content img{width:25rem;}

#content{margin-right:205px !important;padding:0 1rem;min-height:43.5rem;border-right:1px solid #B5B5B5;}
#content article{line-height:2rem;}
section{overflow-x:hidden;margin-bottom:5px;}
footer{height:60px;border-top:1px solid #B5B5B5;}
footer div{text-align:center;margin-top:1.2rem;}

#article{padding:0.5rem;}
			
form {margin: 0;}
textarea {display: block;}

#container{min-width:30rem;}

#top a{display:block;position:fixed;bottom:0px;right:0px;width:2.2rem;background:#B5B5B5;text-align:center;padding:0.3rem 0;height:7.2rem;font-size:1.5rem;}
#top a:hover{background:#383838;color:white;}