#graduation_login{
	position:fixed;
    top:1em;
    right:1em;
    z-index:100;
    font-size:1.5rem;
}
#graduation_login a{
    text-decoration:none;
    color:#48A770;
}
#graduation_login a:hover,#graduation_login a:focus{
	color:
}