.col-xs-xuyong .navbar{
	margin:0;
    border-radius:0;
}
.col-xs-xuyong .navbar-embossed > .navbar-collapse{
	border-radius:0;
}
.col-xs-xuyong ul,.col-xs-xuyong .navbar-nav > li > .dropdown-menu,.col-xs-xuyong .navbar-collapse .navbar-nav.navbar-left:first-child > li:first-child a{
	border-radius:0;
}
.nav_xuyong{
	float:right;
    padding-right:0;
    border-radius:0;
}
.col-xs-xuyong .navbar-inverse .navbar-nav > .open > .dropdown-menu{
	padding:0;
}
.col-xs-xuyong .navbar-inverse .navbar-nav > .open > .dropdown-menu > .divider{
	margin:0;
}
.col-xs-xuyong .navbar-nav > li > .dropdown-menu{
	margin-top:0;
}
.col-xs-xuyong .col-xs-2{
	padding:0;
    background-color:#34495e;
}
.col-xs-xuyong .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background-color:#34495e;
    background-image:none;
    border:none;
}


.col-xs-xuyong .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{
	color:white;
}

	
.col-xs-xuyong{
	padding:0;
}
.col-xs-xuyong .col-xs-2{
	padding:0;
}
.col-xs-xuyong .col-xs-2 ul{
	border-radius:0;
}
.col-xs-xuyong .todo{
	border-radius:0;
}
.col-xs-xuyong .todo-search{
	border-radius:0;
}




