body{
	background:#3d3d3d;
    overflow:hidden;
}



.col-xs-xuyong .navbar{
	margin:0;
    border-radius:0;
}
.col-xs-xuyong .navbar-embossed > .navbar-collapse{
	border-radius:0;
}
.col-xs-xuyong ul,.col-xs-xuyong .navbar-nav > li > .dropdown-menu,.col-xs-xuyong .navbar-collapse .navbar-nav.navbar-left:first-child > li:first-child a{
	border-radius:0;
}
.nav_xuyong{
	float:right;
    padding-right:0;
    border-radius:0;
}
.col-xs-xuyong .navbar-inverse .navbar-nav > .open > .dropdown-menu{
	padding:0;
}
.col-xs-xuyong .navbar-inverse .navbar-nav > .open > .dropdown-menu > .divider{
	margin:0;
}
.col-xs-xuyong .navbar-nav > li > .dropdown-menu{
	margin-top:0;
}
.col-xs-xuyong .col-xs-2{
	padding:0;
    background-color:#3d3d3d;
}
.col-xs-xuyong .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background-color:#3d3d3d;
    background-image:none;
    border:none;
}


.navbar_xuyong a.navbar-brand{
	color:red;
}


.fix_style{
	border:none;
    border-radius:0;
    height:auto !important;
    background-color:#222;
    color:white;
}
.title_style h3{
	border:none;
    border-radius:0;
}
.title_style{
	border-bottom:1px solid #5c5c5c;
}
.xuyong_width{
	width:225px;
}


nav.navbar{
	background-color:#222 !important;
}
#menu-collapse h3{
	box-shadow:none;
}


.col-xs-xuyong .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{
	color:white;
    font-size:20px;
}
.col-xs-xuyong .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	text-shadow:none;
}


.col-xs-xuyong{
	padding:0;
}
.col-xs-xuyong .col-xs-2{
	padding:0;
}
.col-xs-xuyong .col-xs-2 ul{
	border-radius:0;
}
.col-xs-xuyong .todo{
	border-radius:0;
}
.col-xs-xuyong .todo-search{
	border-radius:0;
}


.content_container{
    height:750px;
    background:white;
    margin-left:225px;
}

#iframe{
	width:100%;
    height:100%;
    overflow:hidden;
}

.college_mall_item a{
	color:#fff;
    font-size:15px;
    margin-left:23px;
}
.college_mall_item a:hover{
	color:#CCFFFF;
}




