.col-xs-xuyong .navbar{
	margin:0;
    border-radius:0;
}
.col-xs-xuyong .navbar-embossed > .navbar-collapse{
	border-radius:0;
}
.nav_xuyong{
	float:right;
    padding-right:0;
    border-radius:0;
}
.nav_xuyong ul{
	border-radius:0;
}
.nav_xuyong ul li{
	border-radius:0;
}
.nav_xuyong ul li a{
	border-radius:0;
}
	
.col-xs-xuyong{
	padding:0;
}
.col-xs-xuyong .col-xs-2{
	padding:0;
}
.col-xs-xuyong .col-xs-2 ul{
	border-radius:0;
}
.col-xs-xuyong .todo{
	border-radius:0;
}
.col-xs-xuyong .todo-search{
	border-radius:0;
}


