body{
	background:#3d3d3d;
    overflow:hidden;
}


ul.xuyong-dropdown-menu{
    top:0;
    right:0;
    margin-top:53px;
    background-color:#222;
    color:#fff !important;
}
ul.xuyong-dropdown-menu a{
	color:#fff !important;
}
#menu-button{
	width:150px;
    height:53px;
    margin:0;
    padding:0;
    color:#fff;
	border-radius:none !important;
    
}

<!--main内容容器页面样式-->
.search_container input{
	display:block;
    margin:0 auto;
}



.btn{
	border-radius:none !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
	border-radius:none;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl{
	border-radius:none;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr{
	border-radius:none;
}
.ui-corner-all{
	border-radius:none !important;
}

.col-xs-xuyong .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background-color:#222;
}
.btn-default:hover, .btn-default.hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{
	background-color:#698B22;
    color:#fff;
}


.col-xs-xuyong .navbar{
	margin:0;
    border-radius:0;
}
.col-xs-xuyong .navbar-embossed > .navbar-collapse{
	border-radius:0;
}
.col-xs-xuyong ul,.col-xs-xuyong .navbar-nav > li > .dropdown-menu,.col-xs-xuyong .navbar-collapse .navbar-nav.navbar-left:first-child > li:first-child a{
	border-radius:0;
}
.nav_xuyong{
	float:right;
    padding:0;
    border-radius:0;
    margin:0;
    position:relative;
    width:150px;
    
}
.col-xs-xuyong .navbar-inverse .navbar-nav > .open > .dropdown-menu{
	padding:0;
}
.col-xs-xuyong .navbar-inverse .navbar-nav > .open > .dropdown-menu > .divider{
	margin:0;
}
.col-xs-xuyong .navbar-nav > li > .dropdown-menu{
	margin-top:0;
}
.col-xs-xuyong .col-xs-2{
	padding:0;
    background-color:#3d3d3d;
}
.col-xs-xuyong .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background-image:none;
    border-radius:none;
    border:none;
}


.navbar_xuyong a.navbar-brand{
	color:red;
}


.fix_style{
	border:none;
    border-radius:0;
    height:auto !important;
    background-color:#454545;
    color:white;
    line-height:25px;
}
.title_style h3{
	border:none;
    border-radius:0;
}
.ui-accordion .ui-accordion-header a{
	padding:.5em .5em .5em 1.7em;
}


nav.navbar{
	background-color:#222 !important;
}
#menu-collapse h3{
	box-shadow:none;
}


.col-xs-xuyong .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{
	color:white;
    font-size:20px;
}
.col-xs-xuyong .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	text-shadow:none;
}


.col-xs-xuyong{
	padding:0;
}
.col-xs-xuyong .col-xs-2{
	padding:0;
}
.col-xs-xuyong .col-xs-2 ul{
	border-radius:0;
}
.col-xs-xuyong .todo{
	border-radius:0;
}
.col-xs-xuyong .todo-search{
	border-radius:0;
}


.content_container{
    height:750px;
    background:white;
}

#iframe{
    border:none;
	width:100%;
    height:100%;
    overflow:hidden;
}

.college_mall_item a{
	color:#fff;
    font-size:15px;
    margin-left:23px;
}
.college_mall_item a:hover{
	color:#0000AA;
}



<!--大学电商栏目样式-begin-->
.group_content{
	display:none;
}
.show{
	display:block;
}


.item_ul{
	width:100%;
    min-width:750px;
    margin-top:15px;
    margin-bottom:0;
    border-bottom:1px solid #EEE9E9;
}
.item_ul li{
	display:inline-block;
    text-decoration:none;
}
.item_ul li a{
    display:block;
    padding:0.5rem 2.5rem;
    border-top:1px solid #EEE9E9;
    border-left:1px solid #EEE9E9;
    border-right:1px solid #EEE9E9;
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
    background:#F7F7F7;
    
}
.action_content{
	padding:1.2rem 1.2rem;
}
.item_ul li a.active{
	background:#E0E0E0;
}
<!--大学电商栏目样式-end-->




